.Modal-Section{
    background-color: blue;
    width: 50%;
    height:auto;
    min-height: 300px;
    max-height: 600px;
    border-radius: 5px;
    border: black 3px solid;
  
}
.q-content{
    color: white;
    padding-top: 2rem;
}
